*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #f4f7fe;
}