.order {
    margin-top: 70px;
    width: 100%;

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    h2 {
        margin-top: 20px;
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        color: #141821;
    }

    .order-content {
        width: 100%;
        display: flex;
        align-items: start;
        gap: 20px;

        &-form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 20px;
            padding: 40px;
            background-color: #fff;
            border-radius: 15px;

            .form-fullname {
                width: 100%;
                display: flex;
                align-items: start;
                gap: 20px;
            }

            .form-fulladdress {
                width: 100%;
                display: flex;
                align-items: start;
                gap: 20px;
            }

            .order-text {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                gap: 20px;

                .order-text-content {
                    width: 100%;
                    display: flex;
                    align-items: start;
                    justify-content: start;
                    gap: 20px;

                    &-item {
                        width: 35%;
                        height: 250px;
                        padding: 24px;
                        border-radius: 16px;
                        font-size: 16px;
                        font-weight: 600;
                        color: #0f172a;
                        line-height: 24px;
                        cursor: pointer;
                        border: 1px solid #006bff;
                        background-color: #fff;


                        h3 {
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 600;
                            color: #0f172a;
                            margin-bottom: 12px;
                        }

                        &-img {
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            gap: 10px;
                            margin-bottom: 10px;

                            .icon {
                                width: 22px;
                                height: 24px;
                            }

                            p {
                                font-size: 16px;
                                font-weight: 400;
                                color: #334155;
                                line-height: 20px;
                            }
                        }

                        &.active {
                            border: 1px solid #006bff;
                            background-color: #fff;
                        }
                    }
                }
            }

            .order-card-to {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                gap: 20px;

                &-content {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: 10px;
                    padding: 24px;
                    border: 1px solid rgba(0, 0, 0, 0);
                    border-radius: 16px;
                    font-size: 14px;
                    font-weight: 300;
                    color: #0f172a;
                    line-height: 24px;
                    cursor: pointer;
                    background-color: #f2f2f7;
                    transition: all 0.3s ease-in-out;
                    &.active {
                        border: 1px solid #006bff;
                        background-color: #fff;
                    }
                }
            }
          
            .order-button {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 20px;

                button {
                    padding: 10px 20px;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    color: #fff;
                    border-radius: 10px;
                    background-color: #ff8826;
                    border: none;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    &:nth-child(2) {
                        background-color: #fff;
                        color: #ff8826;
                        border: 1px solid #ff8826;

                   
                    }
                   
                }
            }
        }

        .input-label {
            width: 100%;
            display: flex;
            flex-direction: column;

            label {
                font-size: 14px;
                line-height: 16px;
                font-weight: 500;
                color: #999a9e;
                margin-bottom: 8px;

                span {
                    color: red;
                }
            }

            input,
            select,
            textarea {
                display: block;
                width: 100%;
                height: calc(1.5em + 0.75rem + 4px);
                padding: 0.375rem 0.75rem;
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.5;
                color: #5f5f5f;
                background-color: #fff;
                background-clip: padding-box;
                border: 2px solid #c2c6d1;
                border-radius: 8px;
                transition: border-color 0.15sease-in-out, box-shadow 0.15sease-in-out;

                &:focus {
                    border-color: #006bff;
                    outline: 0;
                }
            }

            textarea {
                resize: none;
                height: 100px;
            }

            .error {
                color: red;
                font-size: 12px;
                font-weight: 500;
                line-height: 14px;
                margin-top: 5px;
            }

            .phone-input-container {
                display: flex;
                align-items: center;

                border-radius: 8px;
                transition: border-color 0.3s ease-in-out;
            }

            .phone-input-container:focus-within {
                border-color: #006bff;
            }

            .react-tel-input .flag-dropdown {
                border: none !important;
                background: transparent !important;
                transition: all 0.3s ease-in-out;
            }

            .phone-input-container:focus-within .flag-dropdown {
                border-right: 1px solid #006bff !important;
            }
        }


        &-to {
            position: sticky;
            top: 100px;
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            padding: 30px 15px 20px 15px;
            background-color: #fff;
            border-radius: 15px;

            .p {
                font-size: 18px;
                font-weight: 600;
                line-height: 20px;
                color: #006bff;
            }

            .narx {
                margin-top: 10px;
                font-size: 18px;
                font-weight: 600;
                line-height: 20px;
                color: #141821;
            }

            .narx-span {
                font-size: 18px;
                font-weight: 600;
                line-height: 20px;
                color: #af5679;
                margin-bottom: 10px;
            }

            .narx-span-order {
                font-size: 24px;
                line-height: 35px;
                color: #141821;
            }

            p {
                font-size: 18px;
                font-weight: 600;
                line-height: 20px;
                color: #141821;
            }

            span {
                font-size: 19px;
                font-weight: 600;
                line-height: 20px;
                color: #af5679;
            }

            &-btn {
                width: 100%;
                max-height: 300px;
                padding: 10px;
                overflow-x: scroll;
                display: flex;
                flex-direction: column;
                gap: 30px;

                &::-webkit-scrollbar {
                    height: 0;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #008dff;
                }

                .order-card {
                    width: 100%;
                    display: flex;
                    align-items: start;
                    gap: 30px;

                    .order-card-img {
                        width: 70px;
                        height: 60px;
                        object-fit: cover;
                        border-radius: 20px;
                        background-color: #ffffff;
                        box-shadow: 3px 1px 10px 1px #d1d5df;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 50px;
                            height: 50px;
                            object-fit: cover;
                            border-radius: 10px;
                        }
                    }

                    .order-text {
                        width: calc(100% - 100px);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        gap: 20px;

                        b {
                            font-weight: 600;
                            font-size: 16px;
                            color: #000000;
                        }

                        .order-text2 {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 3px;
                            flex-direction: column;

                            .order-price,
                            .order-quantity {
                                font-weight: 600;
                                font-size: 14px;
                                color: #3b4147;
                            }
                        }

                        .order-icon {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 5px;
                            color: #cbd5e1;
                            padding: 5px 10px;
                            cursor: pointer;
                            transition: all 0.3s ease;

                            p {
                                font-weight: 500;
                                font-size: 14px;
                                color: #cbd5e1;
                                transition: all 0.3s ease;
                            }

                            &:hover {
                                color: #ff0000;

                                p {
                                    color: #ff0000;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}