.product-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  min-height: 100vh;
  .product-card {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    background-color: white;
    img {
      height: 200px;
      max-width: 200px;
    }
    h2 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
  }
  .btns{
    display: flex; 
    width: 100%;
    justify-content: space-between;
  }
  .buy{
    background-color: #006ff0;
    width: 79%;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }
  .card{
    width: 19%;
    background-color: #00f7ff;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }
}
