.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-content {
  width: 60%;
  height: 50%;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    width: 50%;
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #f3f2f7;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  input {
    width: 100%;
    padding: 10px;
    border: 2px solid #e5e5e5;
    border-radius: 8px;
  }
  button {
    padding: 12px;
    width: 100%;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: #006ff0;
    color: white;
    cursor: pointer;
  }
  h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 26px;
  }
  .or {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 3px;
    margin: 20px 0;
    small {
      color: black;
      font-size: 14px;
    }
    span {
      background-color: #e5e5e5;
      width: 100%;
      height: 1px;
      display: block;
    }
  }
  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 40px;
    background-color: #e5e5e5;
    border-radius: 8px;
    img {
      width: 30px;
    }
  }
}

.modal-content {
  .right {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 30px 50px;
    flex-direction: column;
    gap: 30px;
    img {
      width: 40px;
    }
  }
  .tab {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .img {
    padding: 10px;
    background-color: white;
    display: grid;
    place-items: center;
    border-radius: 50%;
  }
  .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    h5 {
      font-size: 15px;
    }
    p {
      font-size: 12px;
      color: #797777;
    }
  }
}
.mo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.mc {
  width: 60%;
  height: 50%;
  position: absolute;
  top: 50%;
  border-radius: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  overflow-y: auto;
  display: flex;
  img {
    width: 50%;
  }

  .text {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    background-color: #e8e8e8;
    padding: 30px 50px;

    p {
      font-size: 16px;
      font-weight: 500;
      color: #3a3a3a;
    }
  }
  h2 {
    margin-bottom: 8px;
    font-size: 30px;
    font-weight: 700;
    color: #0d0d0d;
    line-height: 32px;
  }
  .modal-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    button {
      padding: 12px;
      font-size: 16px;
      border-radius: 8px;
      border: none;
      background-color: #3a3a3a;
      color: white;
      cursor: pointer;
      width: 50%;
    }
    .learn-more {
      padding: 12px;
      font-size: 16px;
      border-radius: 8px;
      border: none;
      background-color: #006ff0;
      color: white;
      display: grid;
      place-items: center;
      cursor: pointer;
      width: 50%;
    }
  }
  .price{
    display: flex;
    gap: 10px;
    color: #f08c00 !important;
    font-size: 24px;
    margin: 8px 0;
  }
  .close {
    position: absolute;
    top:   10px;
    right: 10px;
    cursor: pointer;
    background-color: white;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    font-size: 20px;
    border-radius: 50%;
  }
}
